<h1>Current month: <%= link_to "#{@current_month.name}, #{@current_month.year}", "/months/#{@current_month.id}" %></h1>

__________________________________


<h2>Prior months:</h2>
<% @prior_months.each do |month| %>
  <h3><%= link_to "#{month.name}, #{month.year}", "/months/#{month.id}" %></h3>
  <br>

  <% end %>