<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Track your spending with these handy graphs!</h1>

      <h2>See your habits in:</h2>
      <ul>
        <% @categories.each do |category| %>
          <% if category.name == "Bars, Movies, Entertainment" %>
            <li><a href="graphs/entertainment">Bars, Movies, Entertainment</a></li>
          <% else %>
            <li><a href="graphs/<%= category.name %>"><%= category.name %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>