.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.holder {
  background-color: #0099ff;
  border-radius: 5px;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  color: white;
}

.holder a {
  color: white;
}

.holder a:hover {
  color: #d6083f;
}
.holder select {
  color: black;
}
.entry-form, .hide-form {
  display: none;
}

.entry-form label {
  margin-top: 15px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-label {
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
}

.form-label:hover {
  background-color: black;
  color: white;
}

.cat-row {
  display: flex;
  text-align: center;
}

.expense-category {
  background-color: #abcfe8;
  border-radius: 5px;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  flex: 1;
  transition: 
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}

.category-details {
  display: none;
  text-align: left;
  transition:
    opacity 0.7s;
}

.show-details {
  text-align: center;
  cursor: pointer;
}
.show-details:hover {
  font-weight: bold;
  color: #4606a0;
}

.hide-details {
  text-align: center;
  cursor: pointer;
  display: none;
}
.hide-details:hover {
  font-weight:bold;
  color: #c40707;
}

.entry-details {
  margin-bottom: 5px;
}

.entry-button {
  padding: 5px;
  cursor: pointer;
}

.entry-forms {
  transition:
    opacity 0.7s;
}

.return-link {
  color: white;
  text-decoration: none;
}




