.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.holder {
  background-color: #0099ff;
  border-radius: 5px;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  color: white;
}

.holder a {
  color: white;
}

.holder a:hover {
  color: #d6083f;
}
.holder select {
  color: black;
}
.entry-form, .hide-form {
  display: none;
}

.entry-form label {
  margin-top: 15px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-label {
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
}

.form-label:hover {
  background-color: black;
  color: white;
}

.cat-row {
  display: flex;
  text-align: center;
}

.expense-category {
  background-color: #abcfe8;
  border-radius: 5px;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  flex: 1;
  transition: 
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}


.show-details {
  text-align: center;
  cursor: pointer;
}
.show-details:hover {
  font-weight: bold;
  color: #4606a0;
}

.hide-details {
  text-align: center;
  cursor: pointer;
}
.hide-details:hover {
  font-weight:bold;
  color: #c40707;
}


.entry-button {
  padding: 5px;
  cursor: pointer;
}

.entry-forms {
  transition:
    opacity 0.7s;
}

.return-link {
  color: white;
  text-decoration: none;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
}

.catModal {
  display: none;
  background-color: white;
  color: black;
  border: solid black 5px;
  margin-top: 10%;
  margin-left: 25%;
  max-height: 500px;
  width: 640px;
  overflow-y: scroll;
}

.modalHeader {
  border-bottom: double 3px;
}

.modalSubHead {
  border-bottom: double 3px;
}

.modalFooter {
  padding: 10px;
}

.category-details {
  text-align: left;
  border-bottom: double 3px;
  transition:
    opacity 0.7s;
}
.entry-details {
  margin-bottom: 5px;
  margin-left: 5px;
  display: inline-block;
  width: 32%;
}

.under-budget {
  color: green;
}

.over-budget {
  color: red;
}

.goal-button {
  cursor: pointer;
}

.goal-button:hover {
  font-weight: bold;
}

.edit-goal:hover {
  color: #d6083f;
}

.goal-form input {
  color: black;
}

.save-goal:hover {
  color: #2a8e13
}

.cancel-goal:hover {
  color: #d6083f;
}

.error-message {
  color: #d6083f;
  font-weight:bold;
}

.footer {
  background-color: #222;
  width: 100%;
  height: 200px;
  margin-top: 60px;
}

#graph-page h1 {
  margin-bottom: 10%;
}
.chart-area {
  width: 1000px;
  margin: auto;
}


