<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <a class='navbar-brand' href="/">Home</a>
      <a class='navbar-brand' href="/goals">Goals</a>
    </nav>
    <%= yield %>
  </body>
</html>
